In [1]:
import pandas as pd

In [14]:
data = pd.read_csv("demo-data-df1.csv")
data

  key  v1  v2  v3
0  k1   1   2   3
1  k1   1   2   3
2  k1  10  20  30
3  k2   2   2   2
4  k2   2   2   2
5  k3   3   3   3

In [16]:
# 去除重复数据
data.drop_duplicates(inplace=True)
data

  key  v1  v2  v3
0  k1   1   2   3
2  k1  10  20  30
3  k2   2   2   2
5  k3   3   3   3

In [9]:
data["key"].nunique() == len(data)

False

In [17]:
data["key"].value_counts()

key
k1    2
k2    1
k3    1
Name: count, dtype: int64

In [21]:
df2 = pd.read_csv("demo-data-df2.csv")
df2

  key value
0  k1  key1
1  k1  key2
2  k3  key3
3  k4  key4
4  k5  key5

In [22]:
data[data["key"].isin(df2["key"])]

  key  v1  v2  v3
0  k1   1   2   3
2  k1  10  20  30
5  k3   3   3   3