In [1]:
import pandas as pd

In [37]:
data = pd.read_csv('demo-data.csv')
data

         day             name    status       cid
0  Wednesday    Emily Johnson    active  abc12345
1  Wednesday    Emily Johnson    active  abc12789
2     Friday    Mark Thompson   pending     67890
3   Saturday  Maria Rodriguez  inactive     AB12C
4     Sunday        David Lee    active     34567
5    Tuesday   Samantha Smith   pending     DEFGH
6     Monday     Michael Chen  inactive     IJKL0
7   Thursday  Olivia Martinez    active     MNOQP

In [14]:
data.columns # 这里要注意定义列名前面不要有空格

Index(['day', 'name', 'status', 'cid'], dtype='object')

In [26]:
data["name_upper"] = data["name"].str.upper()

In [25]:
data

         day              name     status     cid
0  Wednesday     Emily Johnson     active   12345
1  Wednesday     Emily Johnson     active   12789
2     Friday     Mark Thompson    pending   67890
3   Saturday   Maria Rodriguez   inactive   AB12C
4     Sunday         David Lee     active   34567
5    Tuesday    Samantha Smith    pending   DEFGH
6     Monday      Michael Chen   inactive   IJKL0
7   Thursday   Olivia Martinez     active   MNOQP

In [19]:
data["name_upper_strip"] = data["name_upper"].str.strip()
data

,day,name,status,cid,name_upper,name_upper_strip
0,Wednesday,Emily Johnson,active,12345,EMILY JOHNSON,EMILY JOHNSON
1,Friday,Mark Thompson,pending,67890,MARK THOMPSON,MARK THOMPSON
2,Saturday,Maria Rodriguez,inactive,AB12C,MARIA RODRIGUEZ,MARIA RODRIGUEZ
3,Sunday,David Lee,active,34567,DAVID LEE,DAVID LEE
4,Tuesday,Samantha Smith,pending,DEFGH,SAMANTHA SMITH,SAMANTHA SMITH
5,Monday,Michael Chen,inactive,IJKL0,MICHAEL CHEN,MICHAEL CHEN
6,Thursday,Olivia Martinez,active,MNOQP,OLIVIA MARTINEZ,OLIVIA MARTINEZ

In [20]:
data["name_upper_strip"].tolist()

['EMILY JOHNSON',
 'MARK THOMPSON',
 'MARIA RODRIGUEZ',
 'DAVID LEE',
 'SAMANTHA SMITH',
 'MICHAEL CHEN',
 'OLIVIA MARTINEZ']

In [32]:
data["cid"].str.startswith("abc")

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: cid, dtype: bool

In [33]:
data["day"].str.replace("day", "night")

0    Wednesnight
1    Wednesnight
2       Frinight
3     Saturnight
4       Sunnight
5      Tuesnight
6       Monnight
7     Thursnight
Name: day, dtype: object

In [34]:
data.replace({"active":1, "inactive":0})

         day              name   status       cid
0  Wednesday     Emily Johnson        1  abc12345
1  Wednesday     Emily Johnson        1  abc12789
2     Friday     Mark Thompson  pending     67890
3   Saturday   Maria Rodriguez        0     AB12C
4     Sunday         David Lee        1     34567
5    Tuesday    Samantha Smith  pending     DEFGH
6     Monday      Michael Chen        0     IJKL0
7   Thursday   Olivia Martinez        1     MNOQP

In [38]:
data["name"].tolist()

['Emily Johnson',
 'Emily Johnson',
 'Mark Thompson',
 'Maria Rodriguez',
 'David Lee',
 'Samantha Smith',
 'Michael Chen',
 'Olivia Martinez']

In [39]:
data[["name0", "name1"]] = data["name"].str.split(" ", expand = True)

In [40]:
data

         day             name    status       cid     name0      name1
0  Wednesday    Emily Johnson    active  abc12345     Emily    Johnson
1  Wednesday    Emily Johnson    active  abc12789     Emily    Johnson
2     Friday    Mark Thompson   pending     67890      Mark   Thompson
3   Saturday  Maria Rodriguez  inactive     AB12C     Maria  Rodriguez
4     Sunday        David Lee    active     34567     David        Lee
5    Tuesday   Samantha Smith   pending     DEFGH  Samantha      Smith
6     Monday     Michael Chen  inactive     IJKL0   Michael       Chen
7   Thursday  Olivia Martinez    active     MNOQP    Olivia   Martinez

In [41]:
data["day"].apply(lambda x: x + " night" if x == "Wednesday" else x)

0    Wednesday night
1    Wednesday night
2             Friday
3           Saturday
4             Sunday
5            Tuesday
6             Monday
7           Thursday
Name: day, dtype: object