In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('date-demo.csv')
data

            informal-date
0  2024-04-25test10:00:00
1  2024-05-01test12:30:15
2  2024-05-15test15:45:00
3  2024-06-01test09:00:00
4  2024-06-30test17:59:59

In [5]:
data["formal-date"]=pd.to_datetime(data["informal-date"], format='%Y-%m-%dtest%H:%M:%S', errors='coerce')

In [6]:
data

            informal-date         formal-date
0  2024-04-25test10:00:00 2024-04-25 10:00:00
1  2024-05-01test12:30:15 2024-05-01 12:30:15
2  2024-05-15test15:45:00 2024-05-15 15:45:00
3  2024-06-01test09:00:00 2024-06-01 09:00:00
4  2024-06-30test17:59:59 2024-06-30 17:59:59

In [7]:
data["hour"] = data["formal-date"].dt.hour

In [8]:
data

            informal-date         formal-date  hour
0  2024-04-25test10:00:00 2024-04-25 10:00:00    10
1  2024-05-01test12:30:15 2024-05-01 12:30:15    12
2  2024-05-15test15:45:00 2024-05-15 15:45:00    15
3  2024-06-01test09:00:00 2024-06-01 09:00:00     9
4  2024-06-30test17:59:59 2024-06-30 17:59:59    17

In [15]:
data["plus-5-hours"] = data["formal-date"] + pd.Timedelta(hours=5)
data

            informal-date         formal-date  hour        plus-5-hours
0  2024-04-25test10:00:00 2024-04-25 10:00:00    10 2024-04-25 15:00:00
1  2024-05-01test12:30:15 2024-05-01 12:30:15    12 2024-05-01 17:30:15
2  2024-05-15test15:45:00 2024-05-15 15:45:00    15 2024-05-15 20:45:00
3  2024-06-01test09:00:00 2024-06-01 09:00:00     9 2024-06-01 14:00:00
4  2024-06-30test17:59:59 2024-06-30 17:59:59    17 2024-06-30 22:59:59

In [16]:
data["plus-5-days"] = data["formal-date"] + pd.Timedelta(days=5)
data

,informal-date,formal-date,hour,plus-5-hours,plus-5-days
0,2024-04-25test10:00:00,2024-04-25 10:00:00,10,2024-04-25 15:00:00,2024-04-30 10:00:00
1,2024-05-01test12:30:15,2024-05-01 12:30:15,12,2024-05-01 17:30:15,2024-05-06 12:30:15
2,2024-05-15test15:45:00,2024-05-15 15:45:00,15,2024-05-15 20:45:00,2024-05-20 15:45:00
3,2024-06-01test09:00:00,2024-06-01 09:00:00,9,2024-06-01 14:00:00,2024-06-06 09:00:00
4,2024-06-30test17:59:59,2024-06-30 17:59:59,17,2024-06-30 22:59:59,2024-07-05 17:59:59

In [17]:
data["plus-5-days"] - data["formal-date"]

0   5 days
1   5 days
2   5 days
3   5 days
4   5 days
dtype: timedelta64[ns]

In [18]:
(data["plus-5-days"] - data["formal-date"]).dt.days

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [19]:
data["formal-date"].dt.tz_localize('US/Central').dt.tz_convert('US/Eastern')

0   2024-04-25 11:00:00-04:00
1   2024-05-01 13:30:15-04:00
2   2024-05-15 16:45:00-04:00
3   2024-06-01 10:00:00-04:00
4   2024-06-30 18:59:59-04:00
Name: formal-date, dtype: datetime64[ns, US/Eastern]

In [21]:
data["US/Easter"]=data["formal-date"].dt.tz_localize('US/Central').dt.tz_convert('US/Eastern')

In [22]:
data

,informal-date,formal-date,hour,plus-5-hours,plus-5-days,US/Easter
0,2024-04-25test10:00:00,2024-04-25 10:00:00,10,2024-04-25 15:00:00,2024-04-30 10:00:00,2024-04-25 11:00:00-04:00
1,2024-05-01test12:30:15,2024-05-01 12:30:15,12,2024-05-01 17:30:15,2024-05-06 12:30:15,2024-05-01 13:30:15-04:00
2,2024-05-15test15:45:00,2024-05-15 15:45:00,15,2024-05-15 20:45:00,2024-05-20 15:45:00,2024-05-15 16:45:00-04:00
3,2024-06-01test09:00:00,2024-06-01 09:00:00,9,2024-06-01 14:00:00,2024-06-06 09:00:00,2024-06-01 10:00:00-04:00
4,2024-06-30test17:59:59,2024-06-30 17:59:59,17,2024-06-30 22:59:59,2024-07-05 17:59:59,2024-06-30 18:59:59-04:00