In [2]:
import pandas as pd

In [32]:
data = pd.read_csv("demo-data.csv")
data

         day             name    status       cid
0  Wednesday    Emily Johnson    active  abc12345
1  Wednesday    Emily Johnson    active  abc12789
2     Friday    Mark Thompson   pending     67890
3   Saturday  Maria Rodriguez  inactive     AB12C
4     Sunday        David Lee    active     34567
5    Tuesday   Samantha Smith   pending     DEFGH
6     Monday     Michael Chen  inactive     IJKL0
7   Thursday  Olivia Martinez    active     MNOQP

In [33]:
data["name"] = data["name"].str.upper()
data

         day             name    status       cid
0  Wednesday    EMILY JOHNSON    active  abc12345
1  Wednesday    EMILY JOHNSON    active  abc12789
2     Friday    MARK THOMPSON   pending     67890
3   Saturday  MARIA RODRIGUEZ  inactive     AB12C
4     Sunday        DAVID LEE    active     34567
5    Tuesday   SAMANTHA SMITH   pending     DEFGH
6     Monday     MICHAEL CHEN  inactive     IJKL0
7   Thursday  OLIVIA MARTINEZ    active     MNOQP

In [34]:
data["name"].tolist()

['EMILY JOHNSON',
 'EMILY JOHNSON',
 'MARK THOMPSON',
 'MARIA RODRIGUEZ',
 'DAVID LEE',
 'SAMANTHA SMITH',
 'MICHAEL CHEN',
 'OLIVIA MARTINEZ']

In [35]:
data["name"] = data["name"].str.strip()
data["name"].tolist()

['EMILY JOHNSON',
 'EMILY JOHNSON',
 'MARK THOMPSON',
 'MARIA RODRIGUEZ',
 'DAVID LEE',
 'SAMANTHA SMITH',
 'MICHAEL CHEN',
 'OLIVIA MARTINEZ']

In [36]:
data["cid"].str.startswith("abc")

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
Name: cid, dtype: bool

In [37]:
data["day"].str.replace("Monday","Friday")

0    Wednesday
1    Wednesday
2       Friday
3     Saturday
4       Sunday
5      Tuesday
6       Friday
7     Thursday
Name: day, dtype: object

In [44]:
data.replace({"inactive":0,"active":1})
data

         day             name    status       cid
0  Wednesday    EMILY JOHNSON    active  abc12345
1  Wednesday    EMILY JOHNSON    active  abc12789
2     Friday    MARK THOMPSON   pending     67890
3   Saturday  MARIA RODRIGUEZ  inactive     AB12C
4     Sunday        DAVID LEE    active     34567
5    Tuesday   SAMANTHA SMITH   pending     DEFGH
6     Monday     MICHAEL CHEN  inactive     IJKL0
7   Thursday  OLIVIA MARTINEZ    active     MNOQP

In [41]:
data_day = data["day"].apply(lambda x: x + "added" if x == "Friday" else x)
print(data_day[0])

Wednesday

In [43]:
data["day"].apply(lambda x: x + "deleted" if x == "Friday" else x)
data

         day             name    status       cid
0  Wednesday    EMILY JOHNSON    active  abc12345
1  Wednesday    EMILY JOHNSON    active  abc12789
2     Friday    MARK THOMPSON   pending     67890
3   Saturday  MARIA RODRIGUEZ  inactive     AB12C
4     Sunday        DAVID LEE    active     34567
5    Tuesday   SAMANTHA SMITH   pending     DEFGH
6     Monday     MICHAEL CHEN  inactive     IJKL0
7   Thursday  OLIVIA MARTINEZ    active     MNOQP